.splash-image {
    position: relative;
    padding-top: 26px;
    margin-bottom: -20px;
    background-image: url('../../image/splash.jpeg');
    background-position: center;
    min-height: 500px;
    color: #fff;

    h2 {
        text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    }

    a {
        margin-bottom: 10px;
    }

    .container {
        padding-top: 145px;
    }
}